# ==============================================
# Example environment file. 
# Populate .env file and access values on server
# ==============================================

# Port the server will run under
PORT=5000

# Ficticious DB credentials
DB_HOST=localhost
DB_USER=root
DB_PASS=123
